/root
/result_tracking.zip
/resultv4.zip
/resultv5.zip
/tracking_result.mp4
/yolo11x_tracker_test_output.mp4
/yolov9_tracker_test_output.mp4
/yoloworld_tracker_test_output.mp4
/resultv7_new.zip
/resultv7.zip
/visual_report_v6_FINAL
/aicontest-vongloai.zip
/Video_vong_loai
/models
/AI25-15.json
/resultv8.zip
/resultv9.zip
/visual_report_v6_FINAL.rar
/Cau hoi vong loai.pdf
/.venv
/visual_report_v6_5_FINAL
/visual_report_v7_FINAL
/yolov12